header {
  position: relative;
  text-align: center;
}
header img.background {
  width: 100%;
  max-height: 25vw;
  max-width: auto;
  overflow: hidden;
}
header h1, header h3 {
  font-family: "PT Mono", monospace;
}
@media only screen and (max-width: 800px) {
  header h1 {
    position: absolute;
    top: 500%;
    left: 50%;
    margin: 0 0 1vw 0;
    font-size: 0vw;
    transform: translate(-50%, -50%);
  }
  header h3 {
    position: absolute;
    top: 65%;
    left: 50%;
    margin: 1vw 0 0 0;
    font-size: 0vw;
    transform: translate(-50%, -50%);
  }
}
header h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}
header h3 {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: 3em 0 0 0;
  font-size: 1.3vw;
  transform: translate(-50%, -50%);
}
header img.logo {
  position: absolute;
  height: 8vw;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.4em;
}
section .hobbies-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 800px) {
  section .hobbies-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
section div span.title {
  font-family: "PT Mono", monospace;
  font-weight: bold;
  font-size: 1.4em;
  color: black;
}
section #factDisplay {
  color: darkslategrey;
}
section h6.education-name {
  font-weight: bold;
}
section ul.experience-list {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 800px) {
  section ul.experience-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
section .contact-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/****************** Container for skill bars **************/
.skills-bar-wrapper {
  width: 100%;
  /* Full width */
  background-color: #ddd;
  /* Grey background */
}

.skills {
  text-align: left;
  /* Right-align text */
  margin: 0 0 10px 0;
  /* Add some padding */
  color: white;
  /* White text color */
}

.frameworks {
  width: 60%;
  background-color: #533747;
}

.html {
  width: 80%;
  background-color: #945d5e;
}

.languages {
  width: 50%;
  background-color: #5F506B;
}

.linux {
  width: 90%;
  background-color: #6A6B83;
}

.windows {
  width: 70%;
  background-color: #76949F;
}

.material {
  width: 60%;
  background-color: #71677c;
}

.learner {
  width: 85%;
  background-color: #86BBBD;
}

.inquisitive {
  width: 80%;
  background-color: #BDB4BF;
}

.people {
  width: 90%;
  background-color: #889696;
}

.didgeridoo {
  width: 100%;
  background-color: #899D78;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background: rgb(123, 158, 158); */
}

#hexGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(10, 1fr);
  width: 80%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  list-style-type: none;
  overflow: hidden;
}

.hex {
  grid-column-end: span 2;
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hex::after {
  content: "";
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */
}

.hexIn {
  position: absolute;
  width: 100%;
  padding-bottom: 115.47%;
  /* =  width / sin(60) */
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}
.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  /* background-color: rgba(0, 128, 128, 0.8); */
  background-image: url("/assets/R0010171-3.jpg");
  font-weight: 300;
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.3s ease-out;
  transition: transform 0.2s ease-out, opacity 0.3s ease-out;
}
.hex h1 {
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.2em;
  color: black;
  z-index: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.hex h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid black;
}
.hex p {
  top: 50%;
  padding-bottom: 50%;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%;
  }

  .hex:nth-child(9n+6) {
    /* first hexagon of even rows */
    grid-column-start: 2;
  }
}
@media (max-width: 1200px) and (min-width: 901px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    grid-template-columns: repeat(8, 1fr);
    padding-bottom: 5.5%;
  }

  .hex:nth-child(7n+5) {
    /* first hexagon of even rows */
    grid-column-start: 2;
  }
}
@media (max-width: 900px) and (min-width: 601px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 7.4%;
  }

  .hex:nth-child(5n+4) {
    /* first hexagon of even rows */
    grid-column-start: 2;
  }
}
@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  #hexGrid {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 11.2%;
    grid-gap: 5px;
  }

  .hex:nth-child(3n+3) {
    /* first hexagon of even rows */
    grid-column-start: 2;
  }
}
@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
}
body {
  background-color: palegoldenrod;
}

img.profile-pic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 60%;
}

.header {
  grid-area: header;
}

.about-me {
  grid-area: about-me;
}

.profile {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills {
  grid-area: skills;
}

.education {
  grid-area: education;
}

.work-experience {
  grid-area: work-experience;
}

.random-facts {
  grid-area: random-facts;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  grid-area: projects;
}

.contact-deets {
  grid-area: contact-deets;
}

.contact-me {
  grid-area: contact-me;
}

.main {
  display: grid;
  grid-column-gap: 2em;
  grid-row-gap: 6em;
  grid-template-columns: 33% 33% auto;
  grid-template-rows: auto;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "header header header " "about-me about-me ." "about-me about-me profile" "about-me about-me profile" "about-me about-me ." "skills education education" "random-facts education education" "work-experience work-experience ." "projects projects projects" "contact-deets contact-me contact-me";
}
@media only screen and (max-width: 800px) {
  .main {
    display: grid;
    grid-column-gap: 3em;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "header" "profile" "about-me" "skills" "education" "work-experience" "projects" "random-facts" "contact-deets" "contact-me";
  }
}

.profile-icons {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.education-align {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
