// header scss

header {
    position: relative;
    text-align: center;
    
    // header background image
    img.background {
        width: 100%;
        max-height:25vw;
        max-width: auto;
        overflow: hidden;
    }
    // main title
    h1 {
        font-weight: bold;
    }
    // secondary title
    h1, h3 {    
        // font-family: 'Montserrat', sans-serif;    
        // font-family: 'Do Hyeon', sans-serif;
        font-family: 'Palanquin', monospace;
        color: #b4ada3;
    }
    // media queries for mobile phone
    @media only screen and (max-width: 800px){
        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 0 1vw 0;
            font-size: 0vw;
            transform: translate(-50%, -50%);
        }
        
        h3 {
            position: absolute;
            top: 65%;
            left: 50%;
            margin: 1vw 0 0 0;
            font-size: 0vw;
            transform: translate(-50%, -50%);
        }
        
    }
    
    h1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.5vw;
    }

    h3 {
        position: absolute;
        top: 45%;
        left: 50%;
        margin: 3em 0 0 0;
        font-size: 1.3vw;
        transform: translate(-50%, -50%);
    }
    // logo class for when I have a logo
    img.logo {
        position: absolute;
        height: 8vw;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    // puts navbar ontop of image
    .navbar-fixed {
        position: absolute;z-index:999999999;
    }

}
