section {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.3em;

    .hobbies-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // flex-wrap: wrap;

        @media only screen and (max-width: 600px){
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // flex-wrap: wrap;
        }
    }

    span {
        font-family: 'PT Mono', monospace;
        font-weight: bold;
        font-size: 1.2em;
    }

    #factDisplay {
        color: darkslategrey;
    }

}   