section {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.8em;

    .hobbies-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // flex-wrap: wrap;

        @media only screen and (max-width: 800px){
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // flex-wrap: wrap;
        }
    }

    div span.title {
        font-family: 'PT Mono', monospace;
        font-weight: bold;
        font-size: 1.4em;
        color: black;
    }

    #factDisplay {
        color: darkslategrey;
    }

    h6.education-name {
        font-weight: bold;
    }
    
    ul.experience-list{
        display: flex;
        // flex-direction: column;
        justify-content: space-evenly;

        @media only screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            }
    }
    
    .contact-align {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}   