// skils bar scss

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/****************** Container for skill bars **************/
.skills-bar-wrapper {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: left; /* Right-align text */
    padding-left: 10px;
    margin: 0 0 10px 0; /* Add some padding */
    color:black; /* White text color */
}

// ***************** skills bar colours ************************

.frameworks {width: 60%; background-color:#603140;} 
.html {width: 80%; background-color:#d3d57c;} 
.languages {width: 50%; background-color: #c7aa74;} 
.linux {width: 90%; background-color: #957964;} 
.windows {width: 70%; background-color: #cad178;} 
.material {width: 60%; background-color: #a6ac63;} 
.learner {width: 85%; background-color: #dbdc93;} 
.inquisitive {width: 80%; background-color: #c7aa74;} 
.people {width: 90%; background-color: #a89180;} 
// .hardware {width: 60%; background-color: #5F7470;} 
.didgeridoo {width: 100%; background-color: #8b6974;} 

