img.icon {
    height: 3em;
    margin-bottom: 1em;
}

img.profile-pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 60%;  
}

.header {
    grid-area: header;
}

.about-me {
    grid-area: aboutme; 
}

.profile {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills {
    grid-area: skills;
}

.education {
    grid-area: education;
}


body {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "header header header "
    "aboutme aboutme ."
    "aboutme aboutme profile"
    "aboutme aboutme profile"
    "aboutme aboutme ."
    "skills education education";
}

@media only screen and (max-width: 600px){
    body {
        display: grid;
        grid-column-gap: 2em;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
        "header"
        "profile"
        "aboutme"
        "skills"
        "education";
    }        
}


body header {
    position: relative;
    text-align: center;
    /* color: white; */
}


body header img.background {
    width: 100%;
    max-height:25vw;
    max-width: auto;
    overflow: hidden;
}

@media only screen and (max-width: 600px){
    body header h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 1vw 0;
        transform: translate(-50%, -50%);
        font-size: 0vw;
    }
    
    body header h3 {
        position: absolute;
        top: 65%;
        left: 50%;
        margin: 1vw 0 0 0;
        font-size: 0vw;
        transform: translate(-50%, -50%);
    }
    
}

body header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
}

body header h3 {
    position: absolute;
    top: 65%;
    left: 50%;
    margin: 3em 0 0 0;
    font-size: 1.3vw;
    transform: translate(-50%, -50%);
}

body header .logo {
    position: absolute;
    height: 8vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body header h1, h3 {
    font-family: 'PT Mono', monospace;
}

section {
    font-family: 'Share Tech Mono', monospace;
}

body section .hobbies-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.profile-icons {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    
}

section span {
    font-family: 'PT Mono', monospace;
    font-weight: bold;
    font-size: 1.2em;
}